@model Student
<div class="container">
	<div class="row">
		<div>
			<label>Student ID</label>
			<input asp-for="StudentId" disabled />
		</div>
		<div>
			<label>Email</label>
			<input asp-for="Email" disabled />
		</div>
		<div>
			<label>Name</label>
			<input asp-for="StudentName"  />
		</div>
		<div>
			<label>Date Of Birth</label>
			<input asp-for="DateOfBirth" type="datetime"/>
		</div>
	</div>
</div>